# GRUB configuration file for Aeonix OS

set timeout=5
set default=0

menuentry "Aeonix OS" {
    set root=(hd0,1)
    linux /vmlinuz root=/dev/sda1 quiet splash
    initrd /initrd.img
}

menuentry "Advanced options for Aeonix OS" {
    set root=(hd0,1)
    linux /vmlinuz root=/dev/sda1
    initrd /initrd.img
}

menuentry "Boot from USB" {
    set root=(hd1,1)
    linux /vmlinuz root=/dev/sdb1 quiet splash
    initrd /initrd.img
}
